## Data Visualization III

Q. Download the Iris flower dataset or any other dataset into a DataFrame. (eg. https://archive.ics.upi.edu/ml/datasets/Iris ). Scan the data and give inference as:

   1. List down the features and their types(eg. numeric , nominal) available in the dataset.
   2. Create a histogram for each feature in the dataset to illustrate the feature distributions.
   3. Create boxplot for each feature in the dataset.
   4. Compare distributions and identify outliers.

This is performed by **Warepam Richard Singh**.

Check him out: https://linktr.ee/richardwarepam16

## Importing the necessary Libraries:

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
from sklearn.datasets import load_iris
iris = load_iris()

In [21]:
df = pd.DataFrame(iris['data'], columns = iris['feature_names'])
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [22]:
df.shape

(150, 4)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [25]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [28]:
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

## NOT COMPLETED YET