## Text Analytics

Q. Extract sample document and apply following document preprocessing methods: Tokenisation, POS Tagging, Stopwords removal, Stemming and Lemmatization.

Q. Create representation of document by calculating Team Frequency and Inverse Document Frequency.

This is performed by **Warepam Richard Singh**.

Check him out: https://linktr.ee/richardwarepam16

## Import the necessary Libraries:

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/macbookpro/Downloads/tweet.csv', on_bad_lines= 'skip')
df_text = df[['text']]
df_text.head()

                                                text
0  RT @ScienceWDrDoug: I don’t know what conclusi...
1  RT @markabelan: Visualizing the Biomass of Lif...
2  RT @Abdelbadia_07: Data science interview ques...
3  RT @AsifAli02470010: Data science Timeline.\n ...
4  RT @markabelan: Visualizing the Biomass of Lif...

In [4]:
df.head()

,sentiment,text,user
0,negative,RT @ScienceWDrDoug: I don’t know what conclusi...,Bitcoin_org_
1,neutral,RT @markabelan: Visualizing the Biomass of Lif...,ValtteriAaltone
2,neutral,RT @Abdelbadia_07: Data science interview ques...,Ghebtech
3,neutral,RT @AsifAli02470010: Data science Timeline.\n ...,pedrohuerta
4,neutral,RT @markabelan: Visualizing the Biomass of Lif...,ctntomp

In [6]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  99 non-null     object
 1   text       99 non-null     object
 2   user       99 non-null     object
dtypes: object(3)
memory usage: 2.4+ KB

       sentiment                                               text      user
count         99                                                 99        99
unique         3                                                 49        98
top      neutral  RT @markabelan: Visualizing the Biomass of Lif...  XeronBot
freq          60                                                 27         2

In [7]:
df.isnull().sum()

sentiment    0
text         0
user         0
dtype: int64

In [11]:
df_text['text'] = df_text['text'].str.lower()
df_text.head()

/var/folders/mk/6z3ghsr92q750bdc76s14vy40000gn/T/ipykernel_1811/3660146921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['text'] = df_text['text'].str.lower()

                                                text
0  rt @sciencewdrdoug: i don’t know what conclusi...
1  rt @markabelan: visualizing the biomass of lif...
2  rt @abdelbadia_07: data science interview ques...
3  rt @asifali02470010: data science timeline.\n ...
4  rt @markabelan: visualizing the biomass of lif...

In [22]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/macbookpro/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/macbookpro/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [15]:
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [16]:
en_stopwords = stopwords.words('english')

def remove_stopwords(text):
    result = []
    for token in text:
        if token not in en_stopwords:
            result.append(token)
            
    return result

#Test
text = "this is the only solution of that question".split() 
remove_stopwords(text)

['solution', 'question']

In [18]:
df_text['text'] = df_text['text'].apply(remove_stopwords)
df_text.head()

/var/folders/mk/6z3ghsr92q750bdc76s14vy40000gn/T/ipykernel_1811/3591432192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['text'] = df_text['text'].apply(remove_stopwords)

                                                text
0  [rt, @, sciencewdrdoug, :, ’, know, conclusion...
1  [rt, @, markabelan, :, visualizing, biomass, l...
2  [rt, @, abdelbadia_07, :, data, science, inter...
3  [rt, @, asifali02470010, :, data, science, tim...
4  [rt, @, markabelan, :, visualizing, biomass, l...

In [19]:
from nltk.stem import PorterStemmer

def stemming(text):
    porter = PorterStemmer()
    
    result=[]
    for word in text:
        result.append(porter.stem(word))
    return result

#Test
text=['Connects','Connecting','Connections','Connected','Connection','Connectings','Connect'] 
stemming(text)

['connect', 'connect', 'connect', 'connect', 'connect', 'connect', 'connect']

In [20]:
df_text['text']=df_text['text'].apply(stemming)
df_text.head()

/var/folders/mk/6z3ghsr92q750bdc76s14vy40000gn/T/ipykernel_1811/695916499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['text']=df_text['text'].apply(stemming)

                                                text
0  [rt, @, sciencewdrdoug, :, ’, know, conclus, d...
1  [rt, @, markabelan, :, visual, biomass, life, ...
2  [rt, @, abdelbadia_07, :, data, scienc, interv...
3  [rt, @, asifali02470010, :, data, scienc, time...
4  [rt, @, markabelan, :, visual, biomass, life, ...

In [23]:
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize,pos_tag

def lemmatization(text):
    
    result=[]
    wordnet = WordNetLemmatizer()
    for token,tag in pos_tag(text):
        pos=tag[0].lower()
        
        if pos not in ['a', 'r', 'n', 'v']:
            pos='n'
            
        result.append(wordnet.lemmatize(token,pos))
    
    return result

#Test
text = ['running','ran','runs'] 
lemmatization(text)

['run', 'ran', 'run']

In [24]:
df_text['text']=df_text['text'].apply(lemmatization)
df_text.head()

/var/folders/mk/6z3ghsr92q750bdc76s14vy40000gn/T/ipykernel_1811/3527424292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['text']=df_text['text'].apply(lemmatization)

                                                text
0  [rt, @, sciencewdrdoug, :, ’, know, conclus, d...
1  [rt, @, markabelan, :, visual, biomass, life, ...
2  [rt, @, abdelbadia_07, :, data, scienc, interv...
3  [rt, @, asifali02470010, :, data, scienc, time...
4  [rt, @, markabelan, :, visual, biomass, life, ...

In [29]:
from nltk.tag import DefaultTagger
df_text['text'] = df_text['text'].apply(lambda X: DefaultTagger(X))
df_text.head()

/var/folders/mk/6z3ghsr92q750bdc76s14vy40000gn/T/ipykernel_1811/678590328.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_text['text'] = df_text['text'].apply(lambda X: DefaultTagger(X))

                                                text
0  <DefaultTagger: tag=<DefaultTagger: tag=['rt',...
1  <DefaultTagger: tag=<DefaultTagger: tag=['rt',...
2  <DefaultTagger: tag=<DefaultTagger: tag=['rt',...
3  <DefaultTagger: tag=<DefaultTagger: tag=['rt',...
4  <DefaultTagger: tag=<DefaultTagger: tag=['rt',...